.app-navbar {
    &-container {
        background var(--primary-color)
        display flex
        justify-content space-between
        align-items center
        padding 10px 20px
        .app-dropdown-button {
            .app-dropdown-label, .app-icon {
                color #fff !important
            }
        }
    }
    &-link {
        color #fff
        display flex
        gap 10px
        align-items center
        &-container {
            display flex
            align-items center
            gap 10px
        }
    }

}