.app-form {
    &-container {
        display flex
        flex-direction column
        gap 15px
    }
    &-row {
        display flex
        flex-direction column
        gap 10px
    }
    &-field {
        &-container {
            display flex
            flex-direction column
            gap 5px
        }
        &-label {
            font-size 16px
            font-weight 600
        }
        &-error {
            color var(--invalid)
        }
    }

    &-input {
        padding 8px 
        border 1px solid #ccc
        border-radius 8px
        display flex
        align-items center
        justify-content space-between
        // Versions
        
        &-focused {
            border-color var(--primary-color) !important
        }
        &-outlined {
            border-color var(--primary-color) !important
        }
        &-disabled {
            opacity 0.5 !important
        }
        &-invalid {
            border-color var(--invalid) !important
        }
        // Versions
        &-content {
            width 100%
            input.p-inputtext {
                background transparent !important
                border none !important
                padding inherit !important
                width 100% !important
                box-shadow none !important
            }

            .app-form-input-dropdown {
                box-shadow none !important
                width 100%
                padding 0 !important
            }
            div.app-form-input-dropdown.p-focus:not(.p-disabled).p-select {
                border-color var(--primary-color) !important
            }
        }
        &-prefix-icon {
            padding 0 10px 0 5px
            color var(--primary-color)
        }
        &-suffix {
            color var(--primary-color)
            padding 0 10px
            &:hover {
                cursor pointer
            }
        }
    }
}